@import url(../css/bootstrap.css);
/* line 17, ../scss/styles.scss */
ul.decks {
  min-width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  /* line 23, ../scss/styles.scss */
  ul.decks li {
    width: 50px;
    min-height: 40px;
    background-color: white;
    border: 1px solid silver;
    display: inline-block; }

/* line 34, ../scss/styles.scss */
ul.deck-nav {
  width: 400px;
  padding: 0;
  margin-top: 1em;
  transition: all .3s linear;
  text-align: center;
  overflow: hidden; }
  /* line 41, ../scss/styles.scss */
  ul.deck-nav:hover {
    opacity: 1; }
  /* line 46, ../scss/styles.scss */
  ul.deck-nav li {
    vertical-align: top;
    display: inline-block;
    list-style-type: none; }
    /* line 50, ../scss/styles.scss */
    ul.deck-nav li a {
      display: inline-block;
      background-color: red;
      color: white;
      padding: 5px; }
    /* line 56, ../scss/styles.scss */
    ul.deck-nav li:nth-of-type(1) a {
      background-color: green; }
    /* line 59, ../scss/styles.scss */
    ul.deck-nav li:nth-of-type(2) a {
      background-color: #cc0032; }
    /* line 62, ../scss/styles.scss */
    ul.deck-nav li:nth-of-type(3) a {
      background-color: #990066; }
    /* line 65, ../scss/styles.scss */
    ul.deck-nav li:nth-of-type(4) a {
      background-color: #3300cc; }
    /* line 68, ../scss/styles.scss */
    ul.deck-nav li:nth-of-type(5) a {
      background-color: blue; }
    /* line 71, ../scss/styles.scss */
    ul.deck-nav li:nth-of-type(6) a {
      background-color: green; }

/* line 78, ../scss/styles.scss */
ul.cards {
  margin: 0;
  padding: 0;
  position: relative;
  height: 300px; }
  /* line 84, ../scss/styles.scss */
  ul.cards li {
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid silver;
    display: inline-block;
    vertical-align: middle;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s linear; }
    /* line 97, ../scss/styles.scss */
    ul.cards li:first-of-type {
      z-index: 10; }
      /* line 102, ../scss/styles.scss */
      ul.cards li:first-of-type:active {
        opacity: 0; }
    /* line 107, ../scss/styles.scss */
    ul.cards li h2, ul.cards li h3 {
      text-align: center; }
    /* line 111, ../scss/styles.scss */
    ul.cards li p.deck-title {
      font-size: 12px; }
